<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/png" href="static/favicon.png" />
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>Cloud Architect</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est dolore nulla quae. Placeat autem quisquam corrupti laudantium adipisci veniam velit neque provident libero eius, tempora, aliquam laboriosam quae eaque porro.</p>
</body>
</html>