<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/png" href="static/favicon.png" />
    <title>Contact</title>
</head>
<body>
    <h1>Contact me:</h1>
    
    <a href='mailto:mikolajkula1994@gmail.com'>EMAIL</a>
    <a href='https://github.com/Alt3rius' target="_blank">GITHUB</a>
    


</body>
</html>