<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/png" href="static/favicon.png" />
    <title>Homepage</title>
</head>
<body>
    <h1>MIKOŁAJ KULA</h1>
    
    
    <p class="my">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia omnis ab repellendus quis obcaecati voluptas delectus beatae aut quam incidunt! Facere voluptates, reprehenderit quod rerum commodi veritatis temporibus assumenda quia.</p>
    <center>
    <p>NAVIGATION:</p>
    <div><a href='/about'>ABOUT ME</a></div>
    <div><a href='/gallery'>GALLERY</a></div>
    <div><a href='/contact'>CONTACT</a></div>
    </center>
</body>
</html>